* {
    margin: 0;
    padding: 0;
}

#test {
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: absolute;
    left: 25%;
    top: 25%;
    display: block;
}

#test:hover {
    border: solid;
    cursor: pointer;
}
